<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionStringTubewellApp" connectionString="packet size=4096;data source=192.168.41.98,1434;persist security info=True;initial catalog=TubewellNew;User ID=Tubewell;Password=Tub@W@ll@!" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionStringTubewellApp" connectionString="Server=(local);Database=TubewellNew; user id=sa; password=sa123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="900000000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Login.aspx" defaultUrl="Login.aspx" protection="All" path="/" timeout="30"/>
    </authentication>
    <roleManager enabled="false"/>
    <machineKey validation="AES"/>
    <customErrors defaultRedirect="error.html" mode="RemoteOnly" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <!--Clickjacking security-->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <!--End clickjacking-->    
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true"/>
    
  </system.webServer>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>

        <behavior name="RFEndPointBehavior"  >
          <webHttp helpEnabled="true"/>
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataEnabled">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
      </service>
      <service name="AndroidWCFService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HighImages" behaviorConfiguration="RFEndPointBehavior"
          contract="IAndroidWCFService" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="HighImages"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="4096"
              maxNameTableCharCount="16384" />
        </binding>
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>