@media print {
    body * {
        visibility: hidden;
    }

    tr:hover {
        background-color: none !important;
    }

        tr:hover td {
            background-color: none !important;
        }

    a:link {
        border-bottom: none !important;
        text-decoration: none !important;
        color: black;
    }

    th a:link {
        color: white;
    }

    a[href]:after {
        content: none !important;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}
